# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/venv

# production
/web/static/**/*.js
/web/static/**/*.html

# PyCharm IDEA
/.idea

# misc
*.pyc
/.cnv_result
/.convert
/.files
/.pytest_cache
/__script__
/logs
/htmlcov
/__pychche__
/win-build
/dist